@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-area {
  width: 80%;
  position: relative;
  z-index: 2;
  padding: 50px 0;
}

.testimonial-area .owl-carousel {
  overflow: hidden;
  padding: 0 20px;
  margin: 0 -40px;
  padding-right: 40px;
}

.owl-carousel .owl-stage-outer {
  padding: 30px 50px;
  margin-left: -35px;
  width: calc(100% + 100px);

}

.single-testimonial {
  border: 7px solid #000;
  text-align: center;
  border-radius: 45px;
  position: relative;
  z-index: 2;
}

.single-testimonial p {
  font-size: 16px;
  line-height: 24px;
  padding: 50px;
  padding-bottom: 30px;
  position: relative;
  z-index: 3;
}

.client-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-bottom: 50px;
}

.client-info .client-details h6 {
  font-size: 18px;
  font-weight: 700;
}

.client-info .client-details span {
  display: inline-block;
  font-size: 13px;
}

.client-info .client-pic {
  padding-right: 15px;
}

.client-info .client-pic img {
  width: 100%;
  border-radius: 50px;
}

.owl-dots {
  text-align: center;
  margin-top: 50px;
}

.owl-dots button {
  background: #000 !important;
  width: 15px;
  height: 15px;
  border-radius: 26px;
  margin: 0 5px;
  transition: 0.3s;
}

.owl-dots button.active {
  width: 30px;
}

.single-testimonial:before {
  content: '\f10d';
  position: absolute;
  font-family: FontAwesome;
  font-size: 80px;
  left: -35px;
  top: -35px;
  background: #fff;
  width: 126px;
  height: 100px;
}

.single-testimonial:after {
  content: '\f10e';
  position: absolute;
  font-family: FontAwesome;
  font-size: 80px;
  right: -35px;
  bottom: -35px;
  background: #fff;
  width: 126px;
  height: 100px;
}